<!DOCTYPE HTML>
<html>
<head>
<title>Ramjammin</title>
<script type="text/javascript">
//timer variables
var timeLimit, timeMin, c, t, timer_is_on;
//word bank
var words = ["air", "animal", "apocalypse",
			"beer", "blood", "blue",
			"cabin", "camera", "castle",
			"dinosaur", "dragon", "dungeon",
			"eagle", "earth", "energy",
			"fire", "flood", "forest",
			"gold", "green", "griffin",
			"halloween", "hill", "hobby",
			"ice", "illusion", "indigo",
			"jack-o'-lantern", "joker", "jupiter",
			"king", "knife", "knight",
			"lava", "library", "lion",
			"mars", "mercury", "metal",
			"neptune", "night", "ninja",
			"ocean", "orange", "orphan",
			"park", "phoenix", "pluto",
			"quarter", "queen", "quiz",
			"red", "ring", "robot",
			"saturn", "space", "sword",
			"teenager", "tower", "train",
			"unicorn", "uranus", "underworld",
			"venus", "violet", "volcano",
			"water", "winter", "wood",
			"xerox", "x-ray", "xylophone",
			"yacht", "yellow", "yoga",
			"zodiac", "zombie", "zoo"];
//player variables to keep track of:
//whether they're still in the game, still in the round (can take their turn), rank in order of fz.players, rank in order of rank, score screen
var playerInGame, playerInRound, playerRank, playerRankOrder;
//current & previous players
var curPlayer, prevPlayer, wasPlayerTakenOut;
//variables to hold the current word & successfully used words
var isFirstWord, curWord, storyAbout;
//whether a vote has occurred & a tally of the no/yes votes
var votes;
//inits the game for stuff in 1st div/page
function init()
{
	//hide the footer 
	$('#header').hide();
	$('#footer').hide();
	$('#install').hide();
	restartGame();
}
//restarts the game from scratch
function restartGame()
{
	//timer
	timeLimit = 10;
	timeMin = 5;
	c = timeLimit;
	timer_is_on = 0;
	//player
	playerInGame = [];
	playerInRound = [];
	playerRank = [];
	playerRankOrder = [];
	for(i=0; i<fz.players.length; ++i)
	{
		playerInGame[i] = true;
		playerInRound[i] = true;
	}
	curPlayer = -1;
	wasPlayerTakenOut = false;
	//words
	storyAbout = [];
	isFirstWord = true;
	//votes
	voteHappened = false;
	votes = [0,0]
	//start
	pickPlayer();
	controlChallenge();
	fz.view("handPhone");
}
//picks a random player from those still in the game, who can still take their turn
function pickPlayer()
{
	var count = 0, select;
	prevPlayer = curPlayer;
	stopTimer();
	//if all players (still in the game) have taken their turn, reset their turn-taking ability
	if(playersStillIn(true) == 0)
	{
		for(i=0; i<fz.players.length; i++)
		{
			if(playerInGame[i] == true) {playerInRound[i] = true;}
		}
	}
	if(isFirstWord)	{select = randNum(1, playersStillIn(true));}	//1st turn: select from any/all players
	else			{select = randNum(1, playersStillIn(true)-1)}	//other turns: select from players still in round, but not yourself (prev player)
	//find the player that was randomly selected
	for(i=0; i<fz.players.length; i++)
	{
		if(playerInGame[i] && playerInRound[i] && i != prevPlayer)
		{
			count++;
			if(count == select)
			{
				curPlayer = i;
				break;
			}
		}
	}
	document.getElementById("msgHand").innerHTML = "Hand phone to " + fz.players[curPlayer].name;
}
//returns # players still in:
//game only (ignores whether they've taken turn yeti; isCheckRound = false) 
//game & round (only counts those still able to take turn, isCheckRound = true)
function playersStillIn(isCheckRound)
{
	var count = 0;
	for(i=0; i<fz.players.length; ++i)
	{
		if(playerInGame[i] == true)
		{
			if(isCheckRound == false || (isCheckRound == true && playerInRound[i] == true)) {count++;}
		}
	}
	return count;
}
//random number generator
function randNum(from, to) {return Math.floor((Math.random()*(to-from+1))+from);}
//controls whether a word can be challenged
function controlChallenge()
{
	if(isFirstWord || wasPlayerTakenOut || playersStillIn(false) <= 2){
		$('#btnChal').hide();
	}
	else{
		$('#btnChal').show();
	}
}
//inits stuff for primary gameplay
function startGame()
{
	wasPlayerTakenOut = false;
	restart();		//timer
	regenWord();	//word
	document.getElementById("btnStart").innerHTML = "Ok";
	fz.view("onceUpon");
}
//prepares to restart timer
function restart()
{
	stopTimer();
	if(!isFirstWord) {document.getElementById("msgIntro").innerHTML = "And then:";}
	isFirstWord=false;
	for(i=0; i<2; ++i) {votes[i]=0;}
}
//stops the timer & resets its value
function stopTimer()
{
	stopCount();
	c=timeLimit;
}
//stops the timer from counting
function stopCount()
{
	clearTimeout(t);
	timer_is_on=0;
}
//gets a new word & activates timer
function regenWord()
{
	if (!timer_is_on) {selectWord()};
	doTimer();
}
//selects a random word from the word bank
function selectWord()
{
	curWord = randNum(0,words.length-1);
	document.getElementById("word").value = words[curWord];
}
//keeps track of whether the timer is on & what should happen
function doTimer()
{
	if (!timer_is_on)
	{
		timer_is_on=1;
		timedCount();
	}
}
//primary timer func that does the countdown
function timedCount()
{
	document.getElementById('txt').value=c;
	if(c > 0)	//continue to reduce timer
	{
		c=c-1; 
		t=setTimeout("timedCount()",1000);
	}
	else		//player ran out of time
	{
		document.getElementById("msgBzzt").innerHTML = "BZZT! " + fz.players[curPlayer].name + " is out!";
		fz.view("bzzt");
	}
}
//challenge the previous player's word/story
function toChallenge()
{
	document.getElementById("msgVote").innerHTML = "Vote: " + fz.players[prevPlayer].name + "'s use of " + words[curWord];
	document.getElementById("msgVoter").innerHTML = "Take a vote & tap the final result.";
	fz.view("vote");
}
//vote yes(true) or no(false) as to whether you accept the previous story
function vote(opinion)
{
	if(opinion)	{votes[1] += 1;}
	else		{votes[0] += 1;}
	if(votes[0]>votes[1])
	{
		storyAbout.pop();
		takePlayerOut(prevPlayer);
		if(storyAbout.length < 1){
			document.getElementById("msgVoteRes").innerHTML = "Story Rejected!<br/>" + fz.players[prevPlayer].name + " is out!<br/><br/>Start New Story.";
		}
		else{
			document.getElementById("msgVoteRes").innerHTML = "Story Rejected!<br/>" + fz.players[prevPlayer].name + " is out!<br/><br/>Continue story from " + storyAbout[storyAbout.length-1] + ".";
		}
	}
	else
	{
		takePlayerOut(curPlayer);
		document.getElementById("msgVoteRes").innerHTML = "Story Accepted!<br/>" + fz.players[curPlayer].name + " is out!<br/><br/>Continue story from " + storyAbout[storyAbout.length-1] + ".";
	}
	fz.view("voteResult");
}
//takes the identified player out of the game
function takePlayerOut(id)
{
	wasPlayerTakenOut = true;
	playerInGame[id] = false;
	playerInRound[id] = false;
	rankPlayer(id);
}
//ranks & scores player
function rankPlayer(id)
{
	playerRank[id] = fz.players.length - playerRankOrder.length;
	playerRankOrder.unshift(fz.players[id].name);
}
//hand-to function called after a vote
function afterVoteHand()
{
	pickPlayer();
	controlChallenge();
	fz.view("handPhone");
}
//successful turn (not bzzt out), so prepare for next turn
function nextTurn()
{
	//reduce time limit to make it challenging
	timeLimit--;
	if(timeLimit < timeMin) {timeLimit = timeMin;}
	//add the used word to the story
	storyAbout[storyAbout.length] = words[curWord];
	playerInRound[curPlayer] = false;
	pickPlayer();
	controlChallenge();
	fz.view("handPhone");
}
//unsuccessful turn (bzzt out), so remove player & prepare for next turn 
function playerOut()
{
	takePlayerOut(curPlayer);
	pickPlayer();
	if(playersStillIn(false) <= 1)	//not enough players for game
	{
		//add last remaining player to ranks
		rankPlayer(curPlayer);
		//calculate scores
		for(i=0; i<fz.players.length; ++i)	{fz.players[i].score = 9 - playerRank[i];}
		//display story & final results
		while(storyAbout.length > 5){storyAbout.pop();}
		document.getElementById("listWord").innerHTML = storyAbout.join("<br />");
		$('.hide').hide();
		for(i=0;i<fz.players.length;i++){
			$('#edit'+(i+1)).html(fz.players[i].name);
			$('#score'+(i+1)).html(fz.players[i].score);
			$('#row'+(i+1)).show();
		} 
		fz.view("storyAbout");
	}
	else {
	controlChallenge();
	fz.view("handPhone");
	}
}
		</script>
	</head>
	<body>
		<center>
			<span id="spnHead" class="fzTitle">Ramjammin</span>
			<div id="handPhone" class="page">
				<!--in-between players-->
				<p id="msgHand" class="fzPlayerName"></p>
				<button id="btnStart" class="fzGameButton" onclick="startGame()">
					Go
				</button>
				<button id="btnChal" class="fzGameButton" onclick="toChallenge()">
					Challenge
				</button>
			</div>
			<div id="vote" class="page">
				<!--vote-->
				<p id="msgVoter" class="fzPlayerName"></p>
				<p id="msgVote" class="fzLabel"></p>
				<button id="btnVoteY" class="fzGameButton" onclick="vote(true)">
					Accept or Tie
				</button>
				<button id="btnVoteN" class="fzGameButton" onclick="vote(false)">
					Reject
				</button>
			</div>
			<div id="voteResult" class="page">
				<!--vote result-->
				<p id="msgVoteRes" class="fzLabel"></p>
				<button id="btnVote" class="fzGameButton" onclick="afterVoteHand()">
					Ok
				</button>
			</div>
			<div id="onceUpon" class="page">
				<!--main game-->
				<p id="msgIntro" class="fzLabel">
					Once upon a time...
				</p>
				<textarea rows="1" cols="20" readonly="readonly" id="word" class="fzPrompt"></textarea>
<br />				<textarea rows="1" cols="5" readonly="readonly" id="txt" class="fzPrompt"></textarea>
<br />				<button id="btnDone" class="fzGameButton" onclick="nextTurn()">
					Done
				</button>
			</div>
			<div id="bzzt" class="page">
				<!--player out-->
				<p id="msgBzzt" class="fzLabel"></p>
				<button id="btnBzzt" class="fzGameButton" onclick="playerOut()">
					Ok
				</button>
			</div>
			<div id="storyAbout" class="page">
				<!--results/ranks/scores-->
				<p class="fzLabel">
					Story's 1st 5 Words:
				</p>
				<p id="listWord" class="fzLabel"></p>
				<table class='fzScoreTable'>
					<tr>
						<td class='fzScoreTableNameCol fzScoreTableHeader fzScoreTableCell'>Name</td>
						<td class='fzScoreTableScoreCol fzScoreTableHeader fzScoreTableCell'>Score</td>
					</tr>
					<% for(i=1;i<=8;i++){%>
					<tr class='hide' id='row<%=i%>'>
						<!--<td><div class='hide' id='player<%= i %>'></div></td>-->
						<td class='fzScoreTableNameCol fzScoreTableCell'><div id='edit<%= i %>'></div></td>
						<td class='fzScoreTableScoreCol fzScoreTableCell'><div id='score<%= i %>'></div></td>
					</tr>
					<%}%>
				</table>
				<a class="fzGameButton" href='javascript:fz.gameover()'>Return to Score Screen</a>
			</div>
		</center>
	</body>
</html>