<script type="text/javascript">
function init()
{
	$('#header').show();
	$('#footer').show();
	$('#install').hide();
}
</script>

<div id="container">
<table height="100%">
	<tr>
		<td valign="bottom">
			<p class='fzTitle'>INSTRUCTIONS:</p>
			<ol class='fzInstructionList'>
				<li class='fzInstructionListItem'>Our story starts with 'Once upon a time'</li>
				<li class='fzInstructionListItem'>Each player adds to the story</li>
				<li class='fzInstructionListItem'>You must finish your part of the story <i><u>using the assigned word</i></u></li>
				<li class='fzInstructionListItem'>Challenge lazy players if they try to cheat</li>
				<li class='fzInstructionListItem'>Game is over when one player remains</li>
			</ol>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p class='fzGameButton'><a href="javascript:fz.advance('/games/'+fz.game+'/play')">Let's Play!</a></p>		
		</td>
	</tr>
</table>
</div>