<h3>instructions</h3>
we'll show you a picture. you have to describe it and help the other players guess before time runs out!

<hr/>

</br><a class='button' href="/games/<%= gamename %>/play">Let's Play!</a>

