body {
    // overflow:hidden;
    background: #C9E9F3;
    background-image: url("/images/fz_bg_gradient.jpg");
    font-family: Arial, Helvetica, sans-serif;
    
    // background-repeat: repeat-x;
    margin:0;
    padding:0;
}

p { }
a:link {
	color: #5699bf;
	text-decoration:none;
}

a:visited {text-decoration:none;}

a {
	color: #5699bf;
	text-decoration: none;
}

a:active {
	color: #dddd22;
	}

h3{ color: red; }
h1{	color:black; font-size:20px;}

.fullscreen{
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
}

.banner
{
	width: 100%;
	text-align: center;
}

.option{
	display:none;
}

.navbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid #999999;
    font:  12px;
}

.fzBannerCredits
{
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 10px;
	padding-left: 10px;
	width: 25%;
	color: #5699bf;
	font-size: 14px;
	background-color: #d9e9f9;
}

.fzBannerUser
{
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 10px;
	padding-left: 10px;
	width: 50%;
	color: #5699bf;
	font-size: 14px;
	background-color: #d9e9f9;
}

.fzCenterLogo
{
	padding-left: 90px;
	padding-right: 90px;
	text-align: center;
}

.fzCenterVertically
{
	vertical-align: middle;
}

.fzDebug
{
	color: red;
}

.fzGameButton
{
	font-family: Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	font-size: 20px;
	font-weight: bold;
//	text-transform: uppercase;

	padding-right: 20px;
	padding-left: 20px;
	padding-top: 7px;
	padding-bottom: 7px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;

	//width: 150px;
	color: #5699bf;
	border-radius: 10px;
	border: 2px;
	text-align: center;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#aaa));;
}

.fzGameLabel
{
	color: #555;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}

.fzInstallInstructions
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: larger;
	margin-top: 0px;
	padding: 0px;
	text-align: center;
}

.fzInstructionList
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: black;
	text-align: left;
}

.fzInstructionListItem
{
	padding-bottom: 8px;
}

.fzLabel
{
	font-size: 16px;
}

.fzMessageLower
{
	font-weight: bolder;
	// font-variant: small-caps;
	font-size: 18px;
	color: #555;
	text-align: center;
	position: absolute;
	bottom: 8px;
	left: 0px;
	right: 0px;
	color: black;
}

.fzPageTitle {
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 25%;
	color: #d9e9f9;
	font-size: 12px;
	font-variant: small-caps;
	background-color: #5699bf;
}

.fzPlayerName 
{
	color: white;
	font-size: 18px;
}

.fzPrompt
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: black;
	text-align: center;
}

.fzPromptBox
{
	background: none;
	resize: none;
	border: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: black;
	text-align: center;
}

.fzTitle
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	
	margin-top: 0px;
	color: white;
	padding: 0px;
	position: relative;
	top: 2px;
	text-align: center;
}

.fzTopSpacer
{
	padding-top: 50px;
}

.fzVersion
{
	font-size: 8px;
	font-family: Arial;
	color: rgb(255,255,255);
	position: absolute;
	text-align: center;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#fzFooterTable {
	// background-color: #222222;
	width: 320px;
	height:40px;
	border-color: white;
	border: 0px;
}

#fzFooterTable td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 33%;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border: 0px;
    color: white;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
}

.fzScoreTable 
{
	background-color: #192939;
	width: 320px;
	border-color: #d9e9f9;
	border: 2px;
	border-radius: 15px;
}

.fzScoreTableCell
{
	border-radius: 10px;
	border: 1px solid #d9e9f9;
	background-color: #495969;
	color: #d9e9f9;
	padding-left: 5px;
	padding-right: 5px;
}

.fzScoreTableHeader
{
	color: white;
	font-weight: bolder;
	font-variant: small-caps;
	font-size: 18px;
	text-align: center;
}

.fzScoreTableIconCol
{
	width: 20px;
}

.fzScoreTableMoveDownCol
{
	width: 20px;
}

.fzScoreTableMoveUpCol
{
	width: 20px;
}

.fzScoreTableNameCol
{
	width: 160px;
	color: white;
}

.fzScoreTableScoreCol
{
	width: 40px;
	font-weight: bold;
}

.padding
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-right:40px;
	padding-left:40px;
	color: black;
	margin-left: auto;
	margin-right: auto;
}

.prompt
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: black;
	margin-left: auto;
	margin-right: auto;
}

.footertab
{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.roundbox {
    border:  1px solid #808080;
    background-color: white;
    margin: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.boxtitle {
    text-align: center;
}

.button {
    border:  1px solid black;
    background-color: white;
    margin: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 1px;
    text-align: center;
}

.greenbutton {
    border:  1px solid black;
    background-color: #99ff99;
    margin: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.center {
    text-align: center;
}
.left{
	position:absolute;
	left:5px;
}
.right{
	position:absolute;
	right:5px;
}
.bottom{
	position:absolute;
	bottom:5px;
}
.hide{
	display:none;
}

.page{
	display:none;
}

.imagebox {
    text-align: center;
}

#container{
	position:absolute;
	height:95%;
	width:100%;
	top:0px;
	left:0px;
}

#configure{
	display=none;
	background-color: #672094;
	border: solid 1px #AAAAAA;
	position:absolute;
	top: 50px;
	left: 20px;
	width: 300px;
	height: 300px;
}

#header{
	height:20px;
	width:320px;
	left:0;
	overflow:hidden;
}

#body{
	width:320px;
	height:380px;
	position:absolute;
	top:5%;
	bottom:5%;
	left:0;
	overflow:hidden;
}

#footer{
	width:320px;
	height:40px;
	position:absolute;
	overflow:hidden;
	bottom:0;
	left:0;
	z-index:1000;
}


// tipper game

.tray {
    border: 1px solid yellow;
    position: absolute;
    top: 100px;
    width:640px;
    left: 0px;
    z-index: 5;
}

.beer {
    position: absolute;
    top:   -120px;
    left: 80px;
    height: 100px;
}

.replay {
    position: relative;
    width: 100%;
    top:   50%;
    text-align: center;
    background-color: white;
    font-size: 36px;
    font-family: impact, sans;
    visibility: hidden;
    border-radius: 15px;
}

.dbg {
    font: 12px;
    color: graytext;
    position: absolute;
    border: 1px solid red;
    bottom: 100px;
    left: 0px;
    z-index: 10;
    background-color: white;
    visibility: hidden;
}
// table{
//	border-width: 1px;	border-spacing: 2px;
//	border-style: outset;	border-color: gray;
//	border-collapse: separate;	
//	margin-left:auto;margin-right:auto;
//	font-size:12px;	width:100%;
//}
//table th {
//	border-width: 2px;	padding: 1px;
//	border-style: groove;	border-color: green;
//	-moz-border-radius: ;
//}
//table td {
//	border-width: 2px;	padding: 1px;
//	border-style: groove;	border-color: green;
//	-moz-border-radius: ;
//}
