<script>
if (navigator.standalone) {
	openPage('/menu');
}
else{
}
var refId = 0, refName = "" ;
function init(){
$('#header').hide();
$('#footer').hide();
	refId = getUrlVars()["uId"];
	refName = getUrlVars()["uName"];
	
	if(refId != 0||refId != "undefined"){
		//add code here to give referal points
	}
}
function openGames(){
	$('#loadScreen').show();
	openPage('/menu');
}

//this will be to get the paramaters out of the url
	function getUrlVars()
	{
		var vars = [], hash;
		var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
		for(var i = 0; i < hashes.length; i++)
		{
			hash = hashes[i].split('=');
			vars.push(hash[0]);
			vars[hash[0]] = hash[1];
		}
		return vars;
	}
</script>

<p class="fzTitle">Welcome to</p>
<a href="javascript:openGames();"><img class="fzCenterLogo" src="/images/FrennzyFullNameLogo.png" alt="Frennzy!" width="130" height="75" /></a>

<br/>
<div id='loadScreen' class='hide fullscreen'><img src='/images/startup.png'/></div>
