<!DOCTYPE html>
<html manifest="/cache.manifest">
	<script type="text/javascript">
		var fz={players:[]};
		<%for(item in fz.str){%>fz.<%=item%>="<%=fz.str[item]%>";<%}%>
		<%for(item in fz.num){%>fz.<%=item%>=<%=fz.num[item]%>;<%}%>
		<%for(i=0;i<players.length;i++){%>fz.players[<%=i%>]={};<%for(item in players[i].num){%>fz.players[<%=i%>].<%=item%>=<%=players[i].num[item]%>;<%}for(item in players[i].str){%>fz.players[<%=i%>].<%=item%>="<%=players[i].str[item]%>";<%}}%>
	</script>
	<head>
		<link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen, mobile" title="main" charset="utf-8">
		<script type="text/javascript" src="/javascripts/utils.js"></script>
		<script type="text/javascript" src="/javascripts/jquery-1.6.3.js"></script>
		<script type="text/javascript" src="/javascripts/navfix.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.transform.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/javascripts/layout.js"></script>
		<script type="text/javascript" src="/javascripts/fz.js"></script>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="apple-touch-icon" href="/images/icon.png"/>
		<link rel="apple-touch-startup-image" href="/images/startup.png" />
		<title>Frennzy!FF1</title>
	</head>
	<body>
		<div id='container'>
			<div id="header">
				<div class="banner">
					<a id='dispU' class="fzBannerUser">Username</a>
					<a id='dispPagename' class="fzPageTitle"><%=pagename%></a>
					<a id='dispC' class="fzBannerCredits">Credits</a>
				</div>
			</div>
			<div id="body">
				<%- body %> <a href="javascript:openGames();" class="fzVersion">v0.FF1.01</a>
			</div>
			<div id="footer">
				<table id="fzFooterTable">
					<tr>
						<td><a id='linkGM' href="javascript:game_menu();" class="fzFooterTab"><font color="#ffa">Game Menu</font></a></td>
						<td><a id='linkS' href="javascript:share();" class="fzFooterTab"><font color="#ffa">Share</font></a></td>
						<td><a id='linkBC' href="javascript:top_up();" class="fzFooterTab"><font color="#ffa">Get Credits</font></a></td>
					</tr>
				</table>
			</div>
			<div class='fzMessageLower' id='install'>
				<p id='instructions' class="fzInstallInstructions"></p>
			</div>
		</div>
	</body>
</html>
