<script type='text/javascript' src='/javascripts/menu.js'></script>
<div id='user_prompt' class="page">
	<p class="fzTitle fzTopSpacer">Welcome, New User!</p>
	<p class="fzPrompt">Please enter a User Name</p>
	<p class="fzPrompt"><input id="namePrompt" type = "text"></p>
	<p class="fzPrompt"><input type = "button" value="Save" onClick="saveUser()"></p>
</div>


<div id='game_menu' class='page'>
	<center>
	<br><br>
	<p id='uWelcome'></h1>
	<% for(i=0; i < games.length; i++){ %>
	<!--TODO: add Free badge to game of the day-->
	<p class="fzGameLabel">
	    <%=gameTeasers[i]%>
	</p>
	<a class="fzGameButton" href="javascript:chooseGame('<%=games[i]%>')">
	    <%=games[i]%>
	</a><br/>
	<%}%>
	<a class="fzGameButton" href="javascript:multi();">Multi</a>
	</center>
</div>


<div class='page' id='lobby'>
	<p class='fzTitle' id='gameName' />
	<table class='fzScoreTable'>
		<tr>
			<td class='fzScoreTableCell'></td>
			<td class='fzScoreTableNameCol fzScoreTableHeader fzScoreTableCell'>Name</td>
			<td class='fzScoreTableScoreCol fzScoreTableHeader fzScoreTableCell'>Score</td>
			<td class='fzScoreTableMoveUpCol fzScoreTableCell'></td>
			<td class='fzScoreTableMoveDownCol fzScoreTableCell'></td>
			<td class='fzScoreTableRemoveCol fzScoreTableCell'></td>
		</tr>
		<% for(i=1;i<=8;i++){%>
		<tr class='hide' id='row<%=i%>'>
			<td class='fzScoreTableIconCol fzScoreTableCell'><div id='icon<%= i %>'></div></td>
			<td class='fzScoreTableNameCol fzScoreTableCell'><a id='edit<%= i %>' href='javascript:editPlayer(<%= i %>);'></a></td>
			<td class='fzScoreTableScoreCol fzScoreTableCell'><div id='score<%= i %>'></div></td>
			<td class='fzScoreTableMoveUpCol fzScoreTableCell'><a id='moveUp<%= i %>' href='javascript:movePlayerUp(<%= i %>);'><img width='20px' height='20px' src='/images/arrow_up.png'/></a></td>
			<td class='fzScoreTableMoveDownCol fzScoreTableCell'><a id='moveDown<%= i %>' href='javascript:movePlayerDown(<%= i %>);'><img width='20px' height='20px'  src='/images/arrow_down.png'/></a></td>
			<td class='fzScoreTableRemoveCol fzScoreTableCell'><a id='delete<%= i %>' href='javascript:deletePlayer(<%= i %>);'><img width='20px' height='20px'  src='/images/remove.png'/></a></td>
		</tr>
		<%}%>
	</table>
	<p class='fzGameButton'>
		<a id='addPlayer' href='javascript:addPlayer()'>add player</a>
	</p>
	<p class='fzGameButton'>
		<a id='playbutton' href='javascript:openGame();'></a>
	</p>
	<div id='configure' style="display: none;">
		<p class="fzGameButton">
			<a id='editPlayerName' href='javascript:changeName();'></a>
		</p>
		<p class='center'>
			<a class='fzGameButton' href='javascript:changeIconLeft();'>Prev. Hat</a>
			<a class='fzGameButton' href='javascript:changeIconRight();'>Next Hat</a>
			<div id='player_icon' class='center'></div>
		</p>
		<p class='fzGameButton'>
			<a href="javascript:hideConfigure()">done</a>
		</p>
	</div>
</div>


<div id='top_up' class='page'>
	<br><br>
	<p class='fzTitle'>Need more credits?</p>
	<p class='fzGameButton'>
	<a href='javascript:getMorecredits()'>Buy credits</a>
	</p>
	<p class='fzGameButton'>
	<a href='javascript:offer()'>Offer Wall</a>
	</p>
	<p class='fzGameButton'>
	<a href='javascript:share();'>Share</a>
	</p>
	<p class='fzGameButton' id='toGameP'>
	<a href='javascript:openGame();' class='hide' id='toGame'>Go To Game</a>
	</p>
</div>


<div id='share' class='page'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script type="text/javascript" src="../javascripts/jquery.qrcode.min.js"></script>
	<div id="qr">
		
		<p class='fzTitle'><a class='fzTitle'href="javascript:resizeQr()"> QR Code</a></p>
		<div class='center' id="qrcode" onClick="resizeQr()"></div>
		<p class='fzPrompt'>Click to enlarge QR code</p>
		<p class='fzPrompt'>Earn 5 credits for each friend that scans this code!</p>
		<script>jQuery('#qrcode').qrcode(fPage+fz.uId+"&rName="+fz.username);</script>
	</div>
	<p class='fzPrompt'>Earn another 5 for each friend that installs Frennzy!</p>
	<p class='fzGameButton'><a href="javascript:tweet();">Tweet <font size=2>(+1 Credit)</font></a></p>
	<p class='fzGameButton'><a href="javascript:fbShare();">Post to FB<font size=2>(+5 Credits)</font></a></p>
	<p class='fzGameButton'><a href='javascript:game_menu();'>Return to Game Menu</a></p>
</div>

<div id='score_screen' class='page'>
	<p class="fzTitle">Score Screen</p>
	<table class="fzScoreTable">
	<tr>
	        <td class="fzScoreTableNameCol fzScoreTableCell">Name</td>
	        <td class="fzScoreTableScoreCol fzScoreTableCell">Score</td>
	</tr>
	<% for(i=1;i<=8;i++){%>
	<tr class='hide' id='rowScore<%=i%>' >
	        <td class="fzScoreTableNameCol fzScoreTableCell"><div id='playerScore<%= i %>'></div></td>
	        <td class="fzScoreTableScoreCol fzScoreTableCell"><div id='scoreScore<%= i %>'></div></td>
	</tr>
	<%}%>
	</table>
	
	<p class='fzGameButton'><a href='javascript:share()'>share</a></p>
	<p class='fzGameButton'><a href='javascript:openGame();'>play again</a></p>
	<p class='fzGameButton'><a href='javascript:game_menu()'>back to game menu</a></p>
</div>
	
<div id='offer_wall' class='page'></div>

<div id='multi' class='page'>
	<a href="javascript:joinRoom();"><h1>join room</h1></a>
	<input type='text' id='roomName'/>
	<script>
		function joinRoom(){
			fz.players=[];
			var room = document.getElementById('roomName').value;
			fz.joinRoom(room,'multi');
		}
		function multi(){
			fz.view('multi');
			fz.game='guessthepic';
			$('#dispPagename').html('Multiplayer');
		}
		socket.on('setPlayers',function(json){
			fz.players=json.players;
			fz.initIcons();
			multi_lobby();
		});
		socket.on('newPlayer',function(json){
			var alreadyThere=false;
			for(i=0;i<fz.players.length;i++){
				if(fz.players[i].uId==json.uId){
					alreadyThere=true;
				}
			}
			if(!alreadyThere){
				fz.players.push(json)
				fz.initIcons();
				fz.save({players:fz.players})
			}
			multi_lobby();
		});
	</script>
</div>

<div id='test' class='page'>
	<a href="javascript:testMessage()"><h1>broadcast message</h1></a>
	<a href="javascript:test()"><h1>run test</h1></a>
	<input type='text' id='testBox'/>
	<input type='text' id='testBox2'/>
	<script>
		function testMessage(){
			socket.emit('wisper',{action:'wisper',message:document.getElementById('testBox').value,player:fz.players[0].uId,self:fz.uId});
		}
		socket.on('alert',function(json){
			alert(json.alert)
		});
		socket.on('wisper',function(json){
			alert('message from '+json.from+': '+json.message);
		});
		function test(){
			fz.view('test');
			navigator.geolocation.getCurrentPosition(showMap)
		}
		function showMap(position){
			alert(position.coords.latitude);
		}
	</script>
</div>

<script>
function init(){
	$('#loadScreen').hide();
	$('#install').hide();
	if(fz.username == "undefined" || fz.username == null){
		$('#footer').hide();
		$('#header').hide();
		fz.view('user_prompt');
		$('#dispPagename').html('Username');
	}else{
		<%if(page!=''&&page!=null){%><%=page%>();<%}%><%if(page==''||page==null){%>game_menu();<%}%>
		$('#uWelcome').innerHTML = "<div class='fzTitle'>Welcome Back,<br>"+ fz.username;
	}
}
</script>