<input type='text' id='findWhat'>what</input>
<input type='text' id='findValue'>value</input>
<a class='button' href='javascript:query()'>run query</a>
<h3 id='count'></h3>
<div id='results'></div>


<script>
	function query(){
		var query={};
		query.findWhat=document.getElementById('findWhat').value;
		query.findValue=document.getElementById('findValue').value;
		socket.emit('query',query);
	}
	socket.on('queryResult',function(json){
		results=[];
		var i=0;
		for(each in json.results){
			i++;
			results+=json.results[each]._id+' '+json.results[each].startTime+'</br>';
		}
		$('#count').html(i);
		$('#results').html(results);
	});
</script>