<!DOCTYPE HTML>
<html>
  <head>
  <title>Guesstimates</title>
  <script type="text/javascript" charset="utf-8">
	//TODO add more questions
	//variables
	var questions = ["How many employees does Google have?",
					"What is Microsoft's monthly revenue?", 
					"How many computers are there in the US?",
					"How many Mc Donalds are in the world?",
					"How many miles have you walked in your life?",
					"How many pages are in the most recent Oxford English Dictionary?",
					"How many sites are on the web?", 
					"How many people are at the movies at this moment?",
					"How many single spaced letters fit on one page?",
					"How many swimming pools of beer have been consumed in the last 24 hours?",
					"How many pounds does the moon weigh?",
					"If you took every French citizen's shoelaces and tied them together, how long would they stretch?",
					"How many hairs does a full-grown cat have?",
					"How many times will the average car have its gas tank filled over its life?",
					"How many trillion atoms are there in a grain of sand?",
					"How many hours does a dragonfly live?",
					"What is the average radius of a car tire, in inches?",
					"How many pounds can a tractor trailer haul?",
					"How many showers will you take in your life?",
					"How far is it from Moscow to Minsk?",
					"How many hours will you spend untangling headphone wires in your life?",
					"How much does a large cloud weigh?",
					"How many pixels are on this screen?",
					"How long is Route 80?",
					"If you wanted to give one Twinkie to every kindergartener in Iowa, how many boxes would you need to buy?",
					"How much money will you spend on coffee next year?",
					"How many minutes will you spend swimming in a pool during your lifetime?",
					"When was the first cotton gin built?",
					"When was the telephone invented?",
					"When did Copernicus die?"
					];
	var numplayers = 0;
	var currentplayer = 0;
	var guess = 0;
	var playerNames = [];
	var playerGuesses = [];
	var totalScores = [];
	var roundScores = [];
	var gamesPlayed = 0;
	//to hide the footer 
	
	
	function getQuestion(){
		var qNum = Math.floor(Math.random()*questions.length);
		
		document.getElementById('question').value = questions[qNum];
	}	
     function hide(name){
     	document.getElementById(name).style.display = 'none';
     }
     function show(name){
     	document.getElementById(name).style.display = 'block';
     }
     function changeHTML(name, text){
     	document.getElementById(name).innerHTML = text;
     }
     function insertInTable(name, row, col, info){
     	document.getElementById(name).rows[row].cells[col].innerHTML = info;
     }
	function init()
	{
		//i think this will make the page full screen
		window.resizeTo(screen.width,screen.height )	;
		$('#header').hide();
		$('#footer').hide();
		$('#install').hide();
		getQuestion();

		//gets the number of players from the framwork
		numplayers = fz.players.length;
		for(i = 0; i < numplayers; i++)
		{
			//save names and initilize the guess and scores

			playerNames[i] = fz.players[i].name;
			if(playerNames[i] == undefined){
				playerNames[i] = i;
			}
			totalScores[i] = 0;
			playerGuesses[i] = 0;
			roundScores[i] = 0;
		}
		
		initScoreTable();
		fz.view('guess');

		show('nPlayer');
		hide('gOver');
		
		changeHTML('turn',"Your Guess?");
		changeHTML('pname',playerNames[0]);
		
		document.getElementById('tAnswers').rows = numplayers;
	} 
     function initScoreTable(){
     	
     	for(i=0; i< numplayers; i++){
			$('#tName'+(i+1)).html(playerNames[i]);
			$('#tGuess'+(i+1)).html(playerGuesses[i]);
			$('#tRScore'+(i+1)).html(roundScores[i]);
			$('#tGScore'+(i+1)).html(totalScores[i]);
			$('#tfName'+(i+1)).html(playerNames[i]);
			$('#tfGScore'+(i+1)).html(totalScores[i]);
			$('#row'+(i+1)).show();
			$('#frow'+(i+1)).show();
     	}
     }
	function rotatePlayers(){
		var tPlayer = playerNames[0];
		var tScore = totalScores[0];
		var tPNum = numplayers-1;
		
		for(i = 0; i < tPNum; i++)
		{
			playerNames[i] = playerNames[i+1];
			totalScores[i] = totalScores[i+1];
		}
		playerNames[tPNum] = tPlayer;
		totalScores[tPNum] = tScore;
	}
	function nextGame(){
		currentplayer = 0;
		//checks to see if everyone has played and if so it will show final scores
		getQuestion();
		//shift the first player to the end
		rotatePlayers();
		//set focus back to the guess page
		fz.view('guess');
		//inside the bigger div there are 2 smaller ones and this swaps them
		//could of just changed the text but this looked better
		show('nPlayer');
		hide('gOver');
			
		changeHTML('turn',"Your Guess?");
		changeHTML('pname',playerNames[0]);

	}
	function switchStates(){
		
		var guess = document.getElementById('guess');
		
		//only swaps between the guess and thanks screens
		if(guess.style.display == 'block'){
		
			fz.view('thanks');
		}
		else{
			fz.view('guess');

		}
	}
	function difference(base, other){
		var temp;
		temp = base - other;
		if(temp < 0){temp = temp * -1;}
		return temp;
	}
	function showAnswer(){
		setScores();
		gamesPlayed++;
		if(gamesPlayed < numplayers){
			changeHTML('round',"Round" + gamesPlayed+ " Scores");
			fz.view('answers');
			//changes the info in the table to the current guess and score of that match
			
			for(i=0; i<numplayers;i++){
				var guess = playerGuesses[i];
				var rScore = roundScores[i];
				var tScore = totalScores[i];
				var tName = playerNames[i];
				insertInTable('tScores', i+1, 0, tName);
				insertInTable('tScores', i+1, 1, guess);
				insertInTable('tScores', i+1, 2, rScore);
				insertInTable('tScores', i+1, 3, tScore);
			}
		}else{
			finalScores();
		}
	}
	function setScores(){
		var tNames = [];
		var tGuess = [];
		for(i = 0; i < numplayers; i++){
			tNames[i] = playerNames[i];
			tGuess[i] = playerGuesses[i];
		}
		for(i=1; i < numplayers; i++)//ignore the first spot
		{
			for(x = i+1; x < numplayers; x++)
			{
				//this will swap the temp players and scores to order them
				if(difference(tGuess[0], tGuess[i]) > difference(tGuess[0], tGuess[x])){
					swapPlayers(tNames, tGuess, i,x);
				}	
			}
		}

		for(i = 1; i< numplayers; i++){//this will scan through the temp players
			var found = false;
			for(x=1; x< numplayers && found == false; x++){//this scans through the real players
				if(tNames[i] == playerNames[x]){//compares the temp name and the real till it finds it so it can set the proper score
					roundScores[x] = 9 - i;
					totalScores[x] = totalScores[x] + roundScores[x];//this will add the poitns of the rank of the round subtractedby the number of players  from nine
					found = true;
				}
			}
		}
	}
	function saveAnswer(){
		var tGuess = document.getElementById('answer').value; 
		if(isNaN(tGuess)||tGuess ==''){
			tGuess = 0;
		}
		playerGuesses[currentplayer] = tGuess;
		if(currentplayer == 0){
			changeHTML('turn',"What do you think " + playerNames[0] + "'s guess was?");
		}
		document.getElementById('answer').value='';
		currentplayer = currentplayer + 1;
		document.getElementById('nextPBut').value = playerNames[currentplayer] + " click here";
		changeHTML('pname', playerNames[currentplayer]);
		changeHTML('passPlayer', "Hand the phone to " + playerNames[currentplayer]);
		//check to see if the match is over
		if(currentplayer == numplayers){
			hide('nPlayer');
			show('gOver');
		}
		switchStates();
	}
	function swapPlayers(name, score, p1, p2){
		var tempName, tempScore;
		tempName = name[p1];
		tempScore = score[p1];
		name[p1] = name[p2];
		score[p1] = score[p2];
		name[p2] = tempName;
		score[p2] = tempScore;
	}

	function finalScores(){
		fz.view('final');
		for(i=0; i < numplayers; i++)
		{
			for(x = i+1; x < numplayers; x++)
			{
				if(totalScores[i] > totalScores[x]){
					swapPlayers(playerNames, totalScores, i,x);
				}	
			}
			//this will compare the players in the order and then save total scores in fz
			var a = 0;
			for(z=0; z < numplayers&& a==0; z++)
			{
				if(playerNames[i] == fz.players[z].name){
					a = 1;
					fz.players[z].score = totalScores[i];
				}
			}
			var tScore = totalScores[i];
			insertInTable('tFinal', i+1, 1, tScore);
			var tName = playerNames[i];
			insertInTable('tFinal', i+1, 0, tName);
		}
	}
	</script>
	</head>

	<body>
	<form onkeypress="return event.keyCode != 13;">
		<div id="guess" class ="page center">
			<h4 id = "pname" class="fzTitle"></h4>
			<p class="fzGameLabel">Question</p>
			<textarea id="question" class="fzPromptBox" rows="3" cols="35" readonly="readonly"></textarea>
			</br>
			<p id="turn" class="fzGameLabel"></p>
			<input type="number" id="answer" onkeypress="if(event.keyCode==13){saveAnswer();} " >
			<br><br><br>
			<input type="button" class="fzGameButton" value="Answer" onclick="saveAnswer()">
		</div>
		
		<div id="thanks" class ="page" style="text-align:center;">
			<br><br><br><br><br><br>
			<h1 class="fzGameLabel"> Thanks for your guess!</h1>
			<div id="nPlayer">
				<h2 id="passPlayer" class="fzPlayerName"></h2>
				<input id="nextPBut" type="button" class="fzGameButton" onClick="switchStates()">
			</div>
			
			<div id="gOver" >
				<h2 class="fzGameLabel"> Let's see who knows you best! </h2>
				<input type="button" class ="fzGameButton" value="Answers" onClick="showAnswer()">
			</div>
			
		</div>
		
		<div id="answers" class ="page" style="text-align:center" >
			<h1 id="round" class="fzGameLabel"></h1>
			<table class='fzScoreTable' id='tScores'>
			<tr>
				<td class='fzScoreTableNameCol fzScoreTableHeader fzScoreTableCell'>Name</td>
				<td class='fzScoreTableScoreCol fzScoreTableHeader fzScoreTableCell'>Guess</td>
				<td class='fzScoreTableScoreCol fzScoreTableHeader fzScoreTableCell'>Round Score</td>
				<td class='fzScoreTableScoreCol fzScoreTableHeader fzScoreTableCell'>Game Score</td>
			</tr>
			<% for(i=1;i<=8;i++){%>
			<tr class='hide' id='row<%=i%>'>
				<td class='fzScoreTableNameCol fzScoreTableCell'><div id='tName<%= i %>'></div></td>
				<td class='fzScoreTableScoreCol fzScoreTableCell'><div id='tGuess<%= i %>'></div></td>
				<td class='fzScoreTableScoreCol fzScoreTableCell'><div id='tRScore<%= i %>'></div></td>
				<td class='fzScoreTableScoreCol fzScoreTableCell'><div id='tGScore<%= i %>'></div></td>
			</tr>
			<%}%>
			</table>

			<br>
			<input type="button" class="fzGameButton" value="Next Round" onClick="nextGame()">
		</div>
		
		<div id="final" class ="page" style="text-align:center;">
			<div>
				<h1 class="fzLabel">Thanks for playing.</h1></br>
				<table class='fzScoreTable' id='tFinal'>
				<tr>
					<td class='fzScoreTableNameCol fzScoreTableHeader fzScoreTableCell'>Name</td>
					<td class='fzScoreTableScoreCol fzScoreTableHeader fzScoreTableCell'>Game Score</td>
				</tr>
				<% for(i=1;i<=8;i++){%>
				<tr class='hide' id='frow<%=i%>'>
					<td class='fzScoreTableNameCol fzScoreTableCell'><div id='tfName<%= i %>'></div></td>
					<td class='fzScoreTableScoreCol fzScoreTableCell'><div id='tfGScore<%= i %>'></div></td>
				</tr>
				<%}%>
				</table>
			</div>
			<br>
			<a class="fzGameButton" href='javascript:fz.gameover()'>Return to Score Screen</a>
		</div>



		</form>
	</body>
<html>

