<script type="text/javascript">
	function init() {
		$('#header').show();
		$('#footer').show();
		$('#install').hide();
	}
</script>
<div id="container">
	<table height="100%">
		<tr>
			<td valign="bottom">
			<p class='fzTitle'>
				INSTRUCTIONS:
			</p>
			<ol class='fzInstructionList'>
				<li class='fzInstructionListItem'>
					The first player answers a question.
				</li>
				<li class='fzInstructionListItem'>
					Everyone else guesses <i><u>what they thought the FIRST player answered</i></u>
				</li>
				<li class='fzInstructionListItem'>
					Whoever is closest wins the round.
				</li>
				<li class='fzInstructionListItem'>
					Each player gets one round to go first.
				</li>
				<br>
				<br>
			</ol></td>
		</tr>
		<tr valign="top">
			<td>
			<p class='fzGameButton'>
				<a href="fz.advance('/games/'+fz.game+'/play')">Let's Play!</a>
			</p></td>
		</tr>
	</table>
</div>