<script type="text/javascript"  src="http://www.html5canvastutorials.com/libraries/kinetic2d-v1.0.2.js"></script>
<script type="text/javascript"  src="/games/guessthepic/game.js" ></script>
draw your picture<br/>

<div id='drawScreen' class='page'>
	<div id='drawContainer' style="width:380px; height:300px;position:absolute;top:0;left:0;border:1px solid #000000;">
		<canvas id='drawing' width='380' height='300'></canvas>
	</div>
	<div style='position:absolute;top:300px;'>
		<a href="javascript:selectWinner();">Someone Got It   </a>
		<a href="javascript:fz.gameover()">End Game</a>
	</div>
</div>

<div id='playerList' class = 'page'>
	<h1>who got it?</h1>
	<table>
		<%for(i=0;i<players.length;i++){%>
			<tr>
				<td><a href='javascript:playerChosen(<%=i%>);'><%=players[i].str.name%></a></td>
			</tr>
		<%}%>
	</table>
</div>