<h3>instructions</h3>
If you are the drawer, draw the picture.</br>
If you are the guesser, try to figure out</br>
what is being drawn.

</br><a class='button' href="javascript:fz.advance('/games/<%= gamename %>/play')">Let's Play!</a>
