<script type="text/javascript">
function init()
{
	$('#header').show();
	$('#footer').show();
	$('#install').hide();
}
</script>

<div id="container">
	
	<table height="100%">
	<tr>
		<td valign="bottom">
			<p class='fzTitle'>INSTRUCTIONS:</p>
			<ol class='fzInstructionList'>
				<li class='fzInstructionListItem'>Do what Frennzy says</li>
				<li class='fzInstructionListItem'>Tap the screen before time runs out</li>
				<li class='fzInstructionListItem'>Last person left playing...WINS!</li>
			</ol>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p class='fzGameButton'><a href="javascript:fwindow.location.assign('/games/hotpotato/')">Let's Play!</a></p>		
		</td>
	</tr>
</table>
</div>