body{
	background-color:#192939;
    color:#000;
    font-family:Arial;
    font-size:16pt;
    margin:0px;padding:0px;
    background-image:url('images/background.jpg');
}
p{
	color:#009844; font-weight:bold;font-size:15px;
}
h1{
	color:#00ac40;
}
h2{
	color:#fd2c02;font-size:20px;
}
h3{
	color:#008810;
}
h4{
	color:#ff6611;font-size:20px;
}
button	
{
	background-color:#00fd90;
	font-size:16pt;
}
input
{
	background-color:#ffffff;
	font-size:16pt;
}
textarea{
	background-color:#00aafa;font-size: 10pt;
}
table{
	border-width: 1px;	border-spacing: 2px;
	border-style: outset;	border-color: gray;
	border-collapse: separate;	background-color: white;
	margin-left:auto;margin-right:auto;
	font-size:15px;	width:100%;
	text-align:center;
}
table th {
	border-width: 2px;	padding: 1px;
	border-style: groove;	border-color: green;
	background-color: white;	-moz-border-radius: ;
}
table td {
	border-width: 2px;	padding: 1px;
	border-style: groove;	border-color: green;
	background-color: white;	-moz-border-radius: ;
}


